
<div>
    <ul>
        <li><input type="button" class="buttonclass1" value="Pending Enquiries" (click)="pendingEnquiries()"></li>
        <li><input type="button" class="buttonclass2"  value="Cibil valid Enquiries" (click)="validcibilEnquiries()"></li>
        <li><input type="button" class="buttonclass3"  value="cibil reject Enquiries" (click)="rejectcibilEnquiries()"></li>       
    </ul>    
</div>

`
<table class="table">
    <thead class="heading">

      <tr>
        <th>Action</th>
        <th scope="col">enquiryId</th>
        <th scope="col">FirstName</th>
        <th scope="col">MiddleName</th>
        <th scope="col">LastName</th>
        <th scope="col">DateOfBirth</th>
        <th scope="col">Email id</th>
        <th scope="col">MobileNumber</th>
        <th scope="col">pancardNumber</th>
        <th scope="col">enquiryStatus</th>        
        <th  scope="col">cibil Score</th>
        <th scope="col">Date</th>
        <th scope="col">Remark</th>
        <th scope="col">Previous Emi</th>      
      </tr>
    </thead>

      <!-- cibidata:Cibil;    -->
      <tr *ngFor="let enquiry of enquirylist">
        <td *ngIf="enquiry.enquiryStatus === 'Enquired'"><button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(enquiry)">CheckCibil</button></td>  
        <td *ngIf="enquiry.enquiryStatus === 'Cibilok'"><button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(enquiry)">SendMail</button></td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilreject'"><button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(enquiry)">SendMail</button></td>          
        <td>{{enquiry.enquiryId}}</td>
        <td>{{enquiry.customerFirstName}}</td>
        <td>{{enquiry.customerMiddleName}}</td>
        <td>{{enquiry.customerLastName}}</td>
        <td>{{enquiry.customerDateOfBirth}}</td>
        <td>{{enquiry.customerEmail}}</td>
        <td>{{enquiry.customerMobileNumber}}</td>
        <td>{{enquiry.pancardNumber}}</td>
        <td>{{enquiry.enquiryStatus}}</td>           
        <td *ngIf="enquiry.enquiryStatus === 'Cibilok'">{{enquiry.cibilData.cibilScore}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilok'">{{enquiry.cibilData.cibilGeneratedDate}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilok'">{{enquiry.cibilData.remark}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilok'">{{enquiry.cibilData.previousEmi}}</td>        
        <td *ngIf="enquiry.enquiryStatus === 'Cibilreject'">{{enquiry.cibilData.cibilScore}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilreject'">{{enquiry.cibilData.cibilGeneratedDate}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilreject'">{{enquiry.cibilData.remark}}</td>
        <td *ngIf="enquiry.enquiryStatus === 'Cibilreject'">{{enquiry.cibilData.previousEmi}}</td>       
        <td>
        </tr>
          <!--
            <div *ngIf="enquiry.enquiryStatus === 'Enquired'">        
            <button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(item)">CheckCibil</button>
          </div>
          <div *ngIf="enquiry.enquiryStatus === 'cibilok'">        
        <button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(item)">SendMail</button>
          </div>
          <div *ngIf="enquiry.enquiryStatus === 'cibilreject'">        
        <button type="button" class="fa fa-pencil-square-o" style="font-size:20px;color:red"  (click)="updateProduct(item)">SendMail</button>
          </div>
          </td> -->
         
           
        
      
    
    <tbody>
      <tr >
       
      </tr>
    </tbody>
  </table>
  
