<nav>
    <ul class="container">
      <li><a routerLink="home">Home</a><i class="fa fa-home"></i></li>  
      <li><a routerLink="emiCalculator">EMI Calculator</a></li> 
      <li><a routerLink="aboutUs">About Us</a></li>
      <li><a routerLink="contact"><i class="fa fa-angle-down"></i></a></li>              
      <li><a routerLink="loanEnquiry">Loan loanEnquiry</a></li>
      <li><a routerLink="signIN">Sign</a></li>
    </ul><!-- .container -->
    
  </nav>
  <router-outlet></router-outlet>