<!-- my new code -->
  <div class="container" #container>
    <div class="form-container sign-up-container">
    </div>
    <div class="form-container sign-in-container">
      <!-- input list  -->
      <div id="inputdata" style="margin-top: 20px;">
        <h1 align="center">Emi Calculator</h1>
        <h4 align="center">Loan Amount</h4>
        <div class="loanAmount-input">
          <input
            type="number"
            [(ngModel)]="loanAmount"
            placeholder="Enter Loan amount.."
          />
        </div>
  
        <h4 align="center">Interest Rate:(%)</h4>
        <div class="interest-input">
          <input
            type="number"
            [(ngModel)]="interest"
            placeholder="Enter IR per year.."
          />
        </div>
  
        <h4 align="center">Loan Duration(Months):</h4>
        <div class="tenure-input">
          <input
            type="number"
            [(ngModel)]="tenure"
            placeholder="Enter loan duration.."
          />
        </div>
        <button style="margin-left: 20px ;" class="input-btn" type="submit" (click)="cal()">Calculate</button>
        <button style="margin-left: 20px ;" class="input-btn" type="submit" (click)="reset()">Reset</button>
      </div>
  
    </div>
      <div class="overlay-container">
       <div class="overlay">
        
        <div class="overlay-panel overlay-right">
           <!-- output list  -->
          <div id="emi-output">
            <div class="result">
             <h4>Monthly Payment ( EMI ):</h4> <h4 style="font-weight:900 ;"> <span>{{ emi | currency : "INR" }}</span></h4> 
            </div>
            <div class="result">
              <h4>Total Repayment:</h4>  <h4 style="font-weight:900;"> <span>{{ totalRepayment | currency : "INR" }}</span></h4>
            </div>
            <div class="result">
              <h4>Total Interest Cost:</h4>
              <h4 style="font-weight:900 ;"><span>{{ totalInterestCost | currency : "INR" }}</span></h4>
            </div>
          </div>

          <!-- pie chart   -->
      <div id="chart">
        <apx-chart style="size: 50px;"
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>

        </div>
      </div>
    </div>
  </div>
  