#chart {
    max-width: 550px;
    margin: 150px auto;
    padding: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-color: #fff9f9;
  min-height: 700px;
  width: 700px;
  height: 100vh;
  width: 100vw;
  background-color:rgb(101, 202, 209);
  background-image:
radial-gradient(at 80% 0%, rgb(19, 45, 139) 0px, transparent 50%),
radial-gradient(at 0% 50%, rgb(39, 135, 213) 0px, transparent 50%),
radial-gradient(at 80% 50%, rgb(61, 83, 156) 0px, transparent 50%),
radial-gradient(at 0% 100%, rgb(137, 197, 223) 0px, transparent 50%),
radial-gradient(at 0% 0%, rgb(112, 193, 213) 0px, transparent 50%);
}

body >{
  
  margin: 0 auto;
  width: 300px;
  height: 400px;
  transform: translateY(40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255,255,255,0.4);
  border-radius: 20px;
  box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%);
}

ul{
  border: 10px;
  border-color: rgb(8, 9, 9);
}

body > ul > li{
  width:30%;
    display: inline-block;
}

h1 {
  margin: 20px 0 10px 0;
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.emical-form {
  width: 70%;
  margin-bottom: 15px;
}

h4 {
  margin: 20px 0 5px 0;
  font-size: 1.5rem;
  font-weight: 300;
}

input {   // use it for output 
  width: 80%;
  font-size:1.1rem;
  font-weight: 300;
  padding: 7px 0;
  border: none;
  background-color: inherit;
}

.loanAmount-input, .result, .interest-input, .tenure-input {    //code for input type 
  width: 90%;
  border-bottom: 1px solid #a4a4a4;
}

i {
  width: 10%;
  color: rgba(0,0,0,0.3);
  padding-right: 7px;
}

.emical-form>p {
  width: 90%;
  font-size: 1.1rem;
  text-align: right;
  margin-top: 5px;
  font-weight: 300;
}

.input-btn {
  border: none;  
  margin: 5px;
  padding: 15px 20px;
  width: 20%;
  border-radius: 10px;
  font-size: 1.2rem;
  background-image: linear-gradient(43deg, rgb(159, 217, 240) 0%, rgb(15, 29, 136) 100%);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

span {
  font-size: 1.1rem;
  font-weight: 600;
  color: hsl(269deg 26% 47%);
}
  
#emi-output, #chart {
  float:left;
  width:30%;
  border: 2px solid black;
}


// my new CSS file

.loan-calculator {
  font-family: "Roboto", sans-serif;
  width: 600px;
  margin: 24px auto;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #14213d;
  overflow: hidden;
}

.loan-calculator,
.loan-calculator * {
  box-sizing: border-box;
}

.loan-calculator .top {
  background: #14213d;
  color: #fff;
  padding: 32px;
}

.loan-calculator .top h2 {
  margin-top: 0;
}

.loan-calculator form {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.loan-calculator .title {
  margin-bottom: 16px;
}

.loan-calculator form input {
  font-size: 20px;
  padding: 8px 24px;
  width: 100%;
}

.loan-calculator .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-calculator .result .left {
  width: 100%;
  padding: 8px 32px;
}

.loan-calculator .left h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.loan-calculator .result .value {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(20, 33, 61, 0.2);
}

.loan-calculator .result .value::before {
  content: "$";
  font-size: 24px;
  font-weight: 400;
  margin-right: 6px;
  opacity: 0.4;
}

.loan-calculator .calculate-btn {
  background: #e63946;
  color: #fff;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin: 24px 0;
}

.loan-calculator .right {
  width: 50%;
}

@media (max-width: 650px) {
  .loan-calculator {
    width: 90%;
    max-width: 500px;
  }

  .loan-calculator form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator .result {
    flex-direction: column;
    text-align: center;
  }
}
