
body {
    background: none;
}

#features {
    margin-top:20px;
}
.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;    
}
.feature {
    background:#FFFFFF;
    text-align:center;
    padding:20px;
    border: solid 1px #cccccc;
}
.feature p {
    margin-top:20px;   
    margin-bottom:30px;   
    font-size: 16px;
}

.feature i{
    font-size:80px;
    color:#FFFFFF;
    background:#0088CE;
    padding:30px;
    border-radius:50%;
    border: solid 3px #0088CE;
}
.feature h3 {
    color:#62BB47;  
}
.feature:hover {
    background:#F5F5F5;
    -webkit-transform: translate(0,3em);
    -moz-transform: translate(0,3em);
    -o-transform: translate(0,3em);
    -ms-transform: translate(0,3em);
    transform: translate(0,3em);    
}
.feature:hover i{
    color: #62BB47;
    border-color:#0088CE;
    background:#FFFFFF;
}
.feature:hover .title_border {
    background-color:#1E825F;
    width:50%;
}
.feature .title_border {
    width: 0%;
    height: 3px;
    color: #0088CE;
    background:#0088CE;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}