 Data: {{customerdetails.customerLastName}}


{{customerdetails.enquiryId}}
{{customerdetails.customerFirstName}}
{{customerdetails.customerCibilScore.cibilScore}}
{{customerdetails.customerMiddleName}}
{{customerdetails.customerLastName}}
{{customerdetails.customerMobileNumber}}
{{customerdetails.customerAdditionalMobileNumber}}
{{customerdetails.customerEmail}}


{{customerdetails.customerFirstName}}
{{customerdetails.customerCibilScore.cibilScore}}
{{customerdetails.customerMiddleName}}
{{customerdetails.customerLastName}}
{{customerdetails.customerMobileNumber}}
{{customerdetails.customerAdditionalMobileNumber}}
{{customerdetails.customerEmail}}

<h1>Local Address Information</h1>
{{customerdetails.customerAddress.localHouseNumber}}
{{customerdetails.customerAddress.localAreaName}}
{{customerdetails.customerAddress.localStreetName}}
{{customerdetails.customerAddress.localCityName}}
{{customerdetails.customerAddress.localDistrict}}
{{customerdetails.customerAddress.localPincode}}
{{customerdetails.customerAddress.localState}}

<h1>Permamnt Address Information</h1>
{{customerdetails.customerAddress.permanentHouseNumber}}
{{customerdetails.customerAddress.permanentAreaName}}
{{customerdetails.customerAddress.permanentStreetName}}
{{customerdetails.customerAddress.permanentCityName}}
{{customerdetails.customerAddress.permanentDistrict}}
{{customerdetails.customerAddress.permanentPincode}}
{{customerdetails.customerAddress.permanentState}}

<h1>FinanceData Data</h1>
{{customerdetails.customerFinancialData.customerTotalLoanRequired}}
{{customerdetails.customerFinancialData.customerAccountNumber}}
{{customerdetails.customerFinancialData.bankName}}
{{customerdetails.customerFinancialData.accountHolderName}}
{{customerdetails.customerFinancialData.ifscCode}}
{{customerdetails.customerFinancialData.ocupationType}}
{{customerdetails.customerFinancialData.designation}}
{{customerdetails.customerFinancialData.monthlyIncome}}
{{customerdetails.customerFinancialData.employerName}}


<h1>Dealer Data</h1>
{{customerdetails.dealerData.dealerName}}
{{customerdetails.dealerData.dealerLocation}}
{{customerdetails.dealerData.dealerEmail}}
{{customerdetails.dealerData.accountNumber}}
{{customerdetails.dealerData.accountIFSCCode}}
{{customerdetails.dealerData.vehicleCompanyName}}
{{customerdetails.dealerData.vehicleModel}}
{{customerdetails.dealerData.vehiclePrice}}

<h1>Guarantor Data</h1>
{{customerdetails.guarantorDetails.guarantorName}}
{{customerdetails.guarantorDetails.guarantorRelation}}
{{customerdetails.guarantorDetails.guarantorMobileNumber}}
{{customerdetails.guarantorDetails.guarantorAdharcardNumber}}
{{customerdetails.guarantorDetails.guarantorAddress}}


<h1>Document</h1>
<h3>pancard</h3>
<img [src]="'data:image/jpeg;base64,'+customerdetails.customerDocuments.pancard" height="70">
<h3>pancard</h3>
<img [src]="'data:image/jpeg;base64,'+customerdetails.customerDocuments.adharcard" height="70">
<h3>pancard</h3>
<img [src]="'data:image/jpeg;base64,'+customerdetails.customerDocuments.photo" height="70">
<h3>pancard</h3>
<img [src]="'data:image/jpeg;base64,'+customerdetails.customerDocuments.signature" height="70">
<h3>pancard</h3>
<img [src]="'data:image/jpeg;base64,'+customerdetails.customerDocuments.incomeStatement" height="70">




{{customerdetails.customerCibilScore}}



























      <!-- <td><button type="button" class="fa fa-download" style="font-size:25px;color:red"
          (click)="makepdf(item.photo)">Download photo</button></td> --> -->