<div class="about-section">
  <h1>About Us </h1>
 
  <p>Drive your dreams</p>

  
</div>

<!-- <h2 style="text-align:center">Our Features</h2> -->
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media.istockphoto.com/id/925439460/photo/visiting-the-car-dealership.jpg?s=612x612&w=0&k=20&c=QepYNLXfklIwSst8hsjbf8fyMz20Y8dptV0hAarppLQ=" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Pratap and team</h2>
        <p class="title">CEO & Founder</p>
        <p>Get the car you want, the way you want it with our GCappps Loan 

            Why not own your dream car today - the one you’ve always been waiting for? Our GCappps Car Loan is quick and comes with exclusive features.
            </p>
      
      </div>
    </div>
  </div>

  <!---->

    
    <!---->

  <div class="column">
    <div class="card">
      <img src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/47011/exterior0.jpeg?wm=0" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Dream it</h2>
      
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
       
   
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://d11unpj7eou730.cloudfront.net/thumbs/p-nc-p-s600-ver4/images/cars/generic/Car-Loans--Interest-Rates-Eligibility-And-More.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Get it</h2>
      
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        
       
      </div>
    </div>
  </div>
</div>

