private Integer installmentId;
	private Integer installmentNumber;
	private String installmentMonth;
	@CreationTimestamp
	private Date installementPaidDate;
	private String paymentStatus;
	
<table class="table" >
    <thead class="heading">
      <tr><!--10 entities-->        
        <th scope="col">Installment Number</th>           
        <th scope="col">Amount Sanctioned</th> 
        <th scope="col">Emi</th>        
        <th scope="col">Remaining Amount</th> 
        <th scope="col">Tenure</th> 
        <th scope="col">Paid Date</th> 
        <th scope="col">payment Status</th>  
        
      </tr>
    </thead>